/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* VARIABLES */

:root {
  --primary-color: #70ace6;
  --secondary-color:#44586e;
  --hover-color: rgb(6, 101, 253);
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.54;
  text-align: center;
  background-color: var(--hover-color);

  background-image: url(../images/coding.gif);
  background-size: cover;
}

em::before {
  animation: descriptanimation infinite 10s;
  content: "a competitive programmer and software engineer";
  color: #ffc107;
}

@keyframes descriptanimation {
  0% {
    content: "a competitive programmer and software engineer";
    color: #ffc107
  }
  50% {
    content: " a curious learner and a tech enthusiast";
    color:rgb(230, 14, 14)
  }
  75% {
    content: "a CS student at University of Bucharest";
    color: #2196f3;
  }
}
img {
  width: 100%;
  height: auto;
}


/* UTILITY CLASSES */
.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin-top: 4rem;
  text-align: center;
  display: inline-block;
  padding: .6rem 1.5rem;
  border-radius: 3px;
  background-color: var(--primary-color);
  transition: all .5s ease-in-out;
}

.btn:hover {
    background-color: var(--hover-color);
}

/* ABOUT SECTION */

#about {
  height: 100vh;
}

#navbar {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0rem 3rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
}
#navbar h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  margin-right: auto;
  padding: 1.2rem 2rem;
}
#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul a {
  display: inline-block;
  padding: 1.2rem 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

#navbar ul a:hover {
  background-color: var(--hover-color);
}

#about .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 100;
}

#caption {
  color: rgb(240, 248, 255);
}

/* BLOGS SECTION*/

#blogs {
  text-align: center;
  width: 100%;
  padding: 7rem .1rem;
  background-color: var(--secondary-color);
}

#blogs .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
}

#blogs .container>h1 {
  font-size: 2.6rem;
  color: #fff;
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: .6rem;
  line-height: 1.2;
}

#bottom-line {
  height: 6px;
  background-color: #fff;
  width: 55%;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}


#blogs .blogs .box {
  background-color: #444;
  border: 5px solid #eee;
  border-radius: 3px;

}


#blogs .blogs .box a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

#blogs .blogs .box a p {
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.language-.cpp {
  background-color: #3c292f;
  color: #fff;
}

#blog {
  text-align: left;
  width: 100%;
  padding: 7rem .1rem;
  background-color: rgb(196, 196, 196);
}
.blogpost {
  margin: 2rem;
  padding: 2rem;
  border-color:rgb(230, 14, 14);
  border-radius: 10px;
}
.blogpost p {
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
  margin-bottom: .6rem;
  line-height: 1.2;
}
.blogpost h2 {
  font-size: 2.6rem;
  color: #333;
  font-weight: bolder;
  text-transform: capitalize;
  padding-bottom: 1.6rem;
  line-height: 1.2;
}
.blogpost h3 {
  color: #333;
  font-weight: bolder;
  margin-bottom: .6rem;
  line-height: 1.2;
}

#blog h2 {
  text-decoration: underline;
  font-size: 2.6rem;
  color: #333;
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: .6rem;
  line-height: 1.2;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  padding: 0.5rem;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #333;
  padding: 0.5rem 0;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}



#blogs .code {
  color: #eee;
  transition: .5s all ease;
  font-size: 1.6rem;
}

#blogs .blogs .box:hover .code {
  color: var(--primary-color);
}

/* CONTACT SECTION */
#contact {
  height: 80vh;
  background-color: #444;
  color: #fff;
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contact .container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

#contact .container .social>div a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #eee;
  margin: 1rem 2rem;
  font-weight: bolder;
  transition: transform .5s;
}

#contact .container .social>div a:hover {
  transform: translateY(-5px);
}


/* FOOTER SECTION */
#main-footer {
  border-top: solid 4px var(--primary-color);
  padding: 1rem;
  background-color: #444;
  color: #fff;
}

#main-footer .container {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

#main-footer .container p {
  font-size: 1.2rem;
}

#quote::before {
  content: open-quote;
}
#quote::after {
  content: close-quote;
}

#main-footer #quote a {
  text-decoration: underline;
  color: #eee;

  line-height: 1.5;
}

/* SMARTPHONE */
@media (max-width: 600px) {
  #navbar {
    padding: 0rem 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #blogs .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact .container p {
    margin-bottom: 1.5rem;
  }

  #contact .container .social>div a {
    display: block;
    margin: 1rem 1.5rem;
  }

  #main-footer .container {
    flex-direction: column;
  }

  #main-footer #quote {
    margin-top: 1rem;
  }
}